* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    width: 100%;
    font-family: "Bradley Hand";
    font-style: italic;
    font-weight: 1;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;

}

.vid-container {
    position: relative;
    width: 100%;

}
#top-tag{
    padding-bottom: 20px;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

.content {
    padding-top: 25px;
    z-index: 1;
    color: white;
    animation: fadeIn 4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    opacity: 0.92;
}

#main-img {
    border: 3px solid white;
    border-radius: 20px;
    align-items: center;
    opacity: .75;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#main-img:hover {
    transform: scale(1.2);
    opacity: 1;
}

#title {
    font-size: 3rem;
    align-items: center;
    padding-bottom: 15px;
}

#note {
    font-size: 2rem;
}

#fav-img {
    margin-bottom: 20px;
}

#info {
    font-size: 2rem;
}

span {
    font-size: 4rem;
    align-items: center;
    justify-content: center;
}

h1 {
    align-items: center;
    justify-content: center;
}

p {
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
}

#padder { 
    padding: 30px;
}

#padder-2 {
    padding: 30px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 1;}
}

@media(max-width: 500px){
    body {
        padding: 100px;
        margin: 0;
    }

    .content {
        padding: 10px;
        width: 100vw;
    }

    #main-img {
        transform: scale(1);
    }

    p {
        width: auto;
        max-width: 90vw;
        padding: 10px;
        margin: 0 auto;

    }

}