* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: 1;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    background-image: url("/images/family.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bg-div {
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    z-index: -1;
}

.bg-container {
    position: relative;
    width: 100%;
}

#top-tag{
    padding-bottom: 20px;
    color: white;
}

.content {
    padding-top: 25px;
    z-index: 1;
    color: white;
    animation: fadeIn 4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}


#main-img {
    border: 3px solid white;
    border-radius: 20px;
    align-items: center;
    opacity: .55;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#main-img:hover {
    transform: scale(1.1);
    opacity: 1;
}

#title {
    font-size: 3rem;
    align-items: center;
    padding-bottom: 15px;
}

#note {
    font-size: 2rem;
}

#fav-img {
    margin-bottom: 20px;
}

#info {
    font-size: 2rem;
}

span {
    font-size: 4rem;
    align-items: center;
    justify-content: center;
}

h1 {
    align-items: center;
    justify-content: center;
}

p {
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    font-family:Arial, Helvetica, sans-serif
}

#heading-img-div {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
}

#heading-img-div img {
    flex: 1;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
}

#heading-img-div a {
    padding: 15px;
}

#padder { 
    padding: 30px;
}

#padder-2 {
    padding: 30px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 1;}
}

@media(max-width: 500px){
    body {
        margin: 0;
    }

    .content {
        padding: 10px;
        width: 100vw;
    }

    #main-img {
        transform: scale(.9);
    }

    p {
        width: auto;
        max-width: 90vw;
        padding: 10px;
        margin: 0 auto;

    }

    #heading-img-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    #heading-img-div {
        width: 90%;
        height: auto;
        object-fit: cover;
    }

}